<% content_for :title, "Editing job" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing job</h1>

  <%= render "form", job: @job %>

  <%= link_to "Show this job", @job, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to jobs", jobs_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
