<div class="layout-content-container flex flex-col">
  <%= link_to 'https://github.com/zilton7/ai-cover-letter' do %>
    <p class="text-[#A18249] text-sm font-normal leading-normal pt-1 px-4 text-center">Built with
      Ruby on Rails &amp; 100% Open-Source</p>
  <% end %>
  <%= link_to 'https://x.com/zilasino' do %>
    <p class="text-[#A18249] text-sm font-normal leading-normal pb-3 px-4 text-center underline">
      Follow me on X</p>
  <% end %>
</div>